footer {
  background-color: #3b2f2f;
  color: #f5deb3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px 10%;
  text-align: left;
  margin-top: 50px;
}

footer div {
  margin: 10px;
}

footer .redes .icon svg {
  width: 30px;
  height: 30px;
  fill: #f5deb3; 
  margin: 0 6px;
  transition: 0.3s ease;
}

footer .redes .icon:hover svg {
  fill: #ffffff; 
  transform: scale(1.15);
}

footer {
  display: flex;
  align-items: center;}