footer {
  background-color: #3b2f2f;
  color: #f5deb3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px 10%;
  text-align: left;
  margin-top: 50px;
}

footer div {
  margin: 10px;
}

footer .redes img {
  width: 28px;
  margin: 0 6px;
  transition: transform 0.3s ease;
}

footer .redes img:hover {
  transform: scale(1.2);
}