* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fffaf3;
  color: #3b2f2f;
  line-height: 1.6;
}

header {
  background-color: #3b2f2f;
  color: #f5deb3;
  padding: 20px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.logo {
  font-family: "Cinzel", serif;
  font-size: 28px;
  letter-spacing: 2px;
  color: #f0d28c;
}
nav {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: #f5deb3;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: flex; 
  align-items: center; 
}

nav a:hover {
  border-bottom: 3px solid #f0d28c;
  padding-bottom: 4px;
  color: #f0d28c;
  background-color: transparent !important;
}

nav a.active {
  border-bottom: 3px solid #f0d28c;
  padding-bottom: 3px;
  color: #f0d28c;
}

.btn-inscrever {
  background-color: #f0d28c;
  color: #3b2f2f;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  border: 2px solid #f0d28c;
}
.btn-inscrever.inscrito {
  background-color: #3b2f2f;
  color: #f0d28c;
  border-color: #f0d28c;
}
.btn-inscrever:hover {
  background-color: transparent;
  color: #f0d28c;
  border-color: #f0d28c;
}
