<h1 class="logo">ITALIAN ROMUS</h1>
<nav>
  <a href="#home" onclick="carregarPagina('home.html')">Home</a>
  <a href="#receitas" onclick="carregarPagina('receitas.html')">Receitas</a>
  <a href="#carta-de-vinhos" onclick="carregarPagina('carta-de-vinhos.html')">Carta de Vinhos</a>
  <a href="#sobre-a-italia" onclick="carregarPagina('sobre-a-italia.html')">Sobre a Italia</a>
  <a href="#contatos" onclick="carregarPagina('contatos.html')">Contatos</a>
</nav>
<a href="#inscreva-se" class="btn-inscrever" id="btnInscrever">Inscreva-se</a>

