<!--Imagens Home.html-->
<link rel="preload" as="image" href="./imagens/restaurante.home.jpg">
<link rel="preload" as="image" href="./imagens/cardapio.home.jpg">
<link rel="preload" as="image" href="./imagens/vinhos.home.png">
<link rel="preload" as="image" href="./imagens/experiencia.home.png">
<link rel="preload" as="image" href="./imagens/linguini.cardapio.jpg">
<link rel="preload" as="image" href="./imagens/peixe.cardapio.jpg">
<link rel="preload" as="image" href="./imagens/pizza.cardapio.jpg">
<link rel="preload" as="image" href="./imagens/carne.cardapio.jpg">
<link rel="preload" as="image" href="./imagens/panna.cotta.cardapio.jpg">
<link rel="preload" as="image" href="./imagens/tiramissu.cardapio.jpg">
<link rel="preload" as="image" href="./imagens/fachada-restaurante.png">
<link rel="preload" as="image" href="./imagens/interior-restaurante.png">


