<!--Imagens Home.html-->
<link rel="preload" as="image" href="./imagens/italia.vista.home.webp">
<link rel="preload" as="image" href="./imagens/receitas.home.jpg">
<link rel="preload" as="image" href="./imagens/vinhos.home.png">
<link rel="preload" as="image" href="./imagens/vinhos.italiano.home.webp">
<link rel="preload" as="image" href="./imagens/prato.linguini.jpg">
<link rel="preload" as="image" href="./imagens/prato.carne.jpg">
<link rel="preload" as="image" href="./imagens/prato.pizza.jpg">
<link rel="preload" as="image" href="./imagens/prato.massa.jpg">
<link rel="preload" as="image" href="./imagens/prato.peixe.jpg">
<link rel="preload" as="image" href="./imagens/prato.panna.cotta.jpg">
<link rel="preload" as="image" href="./imagens/prato.ossobuco.png">
<link rel="preload" as="image" href="./imagens/prato.tiramissu.jpg">
<link rel="preload" as="image" href="./imagens/italia.mapa.2.png">
<link rel="preload" as="image" href="./imagens/italia.paisagem.jpg">
<link rel="preload" as="image" href="./imagens/paisagem.3.jpg">
<link rel="preload" as="image" href="./imagens/italia.paisagem.4.webp">

