/* ======= BANNER HOME ======= */
.banner-home {
  position: relative;
  width: 100%;
  height: 70vh;
  background: url("../imagens/restaurante.home.jpg") center/cover no-repeat; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(214, 167, 102);
  text-align: center;
  filter: brightness(95%);
}

.banner-home h2 {
  font-size: 68px;
  font-family: "Cinzel", serif;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.banner-home p {
  font-size: 18px;
}

/* ======= CONTEÚDO PRINCIPAL ======= */
main {
  padding: 40px 10%;
}

section {
  margin-bottom: 50px;
}

/* ======= DESTAQUES ======= */
.destaques h3 {
  text-align: center;
  font-size: 28px;
  color: #3b2f2f;
  margin-bottom: 30px;
  font-family: "Cinzel", serif;
}


/* ======= CARDS ======= */
.opcoes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
   justify-content: center;
  align-items: stretch;
  padding: 0 5%;
}

.opcoes_card,
.opcoes_vinh,
.opcoes_expe {
  background-color: #fff7e6;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.opcoes_card:hover,
.opcoes_vinh:hover,
.opcoes_expe:hover {
  transform: translateY(-5px);
}

.opcoes_card img,
.opcoes_vinh img,
.opcoes_expe img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.conteudo-card {
  padding: 20px;
}

.conteudo-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #3b2f2f;
  font-family: "Cinzel", serif;
}

.conteudo-card p {
  color: #3b2f2f;
  font-size: 16px;
  margin-bottom: 15px;
}

.conteudo-card .botao {
  display: inline-block;
  background-color: #3b2f2f;
  color: #f0d28c;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.conteudo-card .botao:hover {
  background-color: #f0d28c;
  color: #3b2f2f;
}
.opcoes_card,
.opcoes_vinh,
.opcoes_expe {
  min-height: 300px;
}

/* ======= BOTÃO ======= */
.botao {
  display: inline-block;
  background-color: #3b2f2f;
  color: #f0d28c;
  padding: 8px 16px;
  margin-top: 10px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.botao:hover {
  background-color: #f0d28c;
  color: #3b2f2f;
}