<div>
    <p><strong>Italian Romus</strong><br>(27)3368-2758<br>italianromusoficial@hotmail.com</p>
</div>
<div>
    <p><strong>Endereço</strong><br>Rua Aurora Mar, Nº1205<br>Bairro Conceição<br>Prédio 3</p>
</div>
<div class="redes">
    <a href="https://wa.me/552733682758?text=Olá!%20Gostaria%20de%20fazer%20uma%20reserva." target="_blank"
        rel="noopener noreferrer">
        <img src="imagens/whatsapp.rodape.png" alt="WhatsApp">
    </a>
    <a href="https://www.instagram.com/italianromusoficial" target="_blank" rel="noopener noreferrer">
        <img src="imagens/insta.rodape.png" alt="Instagram">
    </a>
    <a href="https://www.facebook.com/italianromus" target="_blank" rel="noopener noreferrer">
        <img src="imagens/facebook.rodape.png" alt="Facebook">
    </a>
</div>